# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# VS Code settings
.vscode/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
